* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212427;
  /* font-family: "Poppins", sans-serif; */
}

nav {
  background-color: white;
  color: white;
  position: absolute;
  width: 100%;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;
}

.container {
  height: 100vh;
}

/* .container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -2;
} */

.person {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: 0;
}

.background {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -2;
}

@font-face {
  src: "./SonderSlab-BlackRough.otf";
  font-family: Sonder;
}

.main-title {
  font-family: Sonder;
  text-align: center;
  color: white;
  font-weight: bold;
  font-style: rough;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
  z-index: -1;
}

.content {
  width: 100%;
  background: white;
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.content-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  min-height: 60vh;
  text-align: center;
  /* padding: 50px; */
  /* width: auto;
  height: auto; */
}

.itinerary {
  width: 100%;
  background: white;
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.itinerary-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  min-height: 60vh;
  text-align: center;
  /* padding: 50px; */
  /* width: auto;
  height: auto; */
}

.text {
  /* padding: 2rem 20rem; */
  font-size: 1.1rem;
}
