* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212427;
  /* font-family: "Poppins", sans-serif; */
}

nav {
  background-color: white;
  color: white;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  z-index: 6;
}

.container {
  height: 100vh;
}

/* .container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -2;
} */

.person {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: 2;
}

.background {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0px;
  height: 110vh;
  object-fit: cover;
  z-index: 0;
}

@font-face {
  src: "./SonderSlab-BlackRough.otf";
  font-family: Sonder;
}

.main-title {
  font-family: Sonder;
  text-align: center;
  color: white;
  font-weight: bold;
  font-style: rough;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
  z-index: 1;
}

.content {
  width: 100%;
  background: white;
  min-height: 200vh;
  z-index: 2;
  position: absolute;
}

.content4real {
  display: flex;
  flex-wrap: wrap;
}

.img_Section {
  margin-top: 20px;
  width: 45%;
  margin-right: 3%;
  margin-left: 2%;
}

.contentimg {
  margin-bottom: 20px;
  width: 100%;
}

.itinerary {
  width: 100%;
  background: white;
  height: 100vh;
  z-index: 2;
  position: absolute;
}

.itinSection {
  width: 100%;
  display: flex;
}

.itinImg {
  width: 30%;
}

.content-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  min-height: 60vh;
  text-align: center;
  /* padding: 50px; */
  /* width: auto;
  height: auto; */
}

.itinerary-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  min-height: 60vh;
  text-align: center;
  /* padding: 50px; */
  /* width: auto;
  height: auto; */
}

.text {
  /* padding: 2rem 20rem; */
  font-size: 1.1rem;
}

.img-container {
  width: 400px;
  /* margin: 20px; */
  /* padding: 20px; */
}

.itinerary-container {
  width: 400px;
  /* margin: 20px; */
  /* padding: 20px; */
}

.img-container img {
  width: 100%;
}

.itinerary-container img {
  width: 100%;
}

.nav-grid {
  display: grid;
  width: 100%;
  height: 50px;
  margin: auto;
  grid-template-columns: [col]10fr [col]2fr [col]2fr [col]1fr;
  grid-template-rows: [row]1fr;
  position: fixed;
  top: 0px;
}

.ng_item {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
​ .ng_item.i-1 {
  /* logo */
  grid-column: col;
  grid-row: row 1;
  color: #f5f5f5;
  padding-left: 100px;
  /* padding:0%;
    justify-content: center; */
}
​ .ng_item.i-2 {
  grid-column: col 2;
  grid-row: row 1;
  justify-content: center;
  /* background-color: #F5F5F5;
    justify-content: flex-end; */
}

.ng_item.i-3 {
  grid-column: col 3;
  grid-row: row 1;
  justify-content: center;
  /* background-color: #F5F5F5;
    justify-content: flex-end; */
}

.row1 {
  height: 20%;
}

.full-page {
  /* height: 90vh; */
  overflow: scroll;
}
